@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-size: 40px;
    color: greenyellow;
    font-family: 'Space Grotesk', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(120deg,rgb(159, 123, 251), rgb(132, 83, 255));
}

h1 {
    text-align: center;
    text-shadow: 4px 8px 8px rgb(64, 64, 64);
    color: white;
}

#wrapper {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#display {
    min-height: 80px;
    width: 440px;
    text-align: right;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

#container {
    background: linear-gradient(60deg,rgb(185, 0, 0), rgb(145, 0, 0));
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.38);
}

#button-container {
    display: flex;
}

#num-buttons {
    height: 300px;
    width: 300px;
}

#operator-buttons {
    height: 300px;
    width: 100px;
}

.buttons, .op-buttons {
    height: 75px;
    width: 75px;
    font-size: 35px;
    margin: 5px;
    border-radius: 37.5px;
    border: none;
}

.buttons {
    background-color: black;
}

.op-buttons {
    background-color: rgb(44, 44, 44);
}

#equals-button {
    display: flex;
    width: 400px;
    margin-top: 45px;
}

#equals {
    flex: auto;
    background-color: rgb(3, 61, 2);
}