* {
    font-size: 50px;
    color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(120deg,rgb(159, 123, 251), rgb(132, 83, 255));
}

#wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#display-container {
    display: flex;
    justify-content: center;
}

#display {
    height: 75px;
    width: 440px;
    text-align: right;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 150px;
    padding: 10px;
}

#container {
    background: linear-gradient(60deg,rgb(185, 0, 0), rgb(145, 0, 0));
    display: flex;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.38);
}

#num-buttons {
    height: 300px;
    width: 300px;
}

#operator-buttons {
    height: 300px;
    width: 100px;
}

.buttons, .op-buttons {
    height: 75px;
    width: 75px;
    font-size: 50px;
    margin: 5px;
    border-radius: 37.5px;
    border: none;
}

.buttons {
    background-color: black;
}

.op-buttons {
    background-color: rgb(56, 56, 56);
}

#clear {
    font-size: 30px;
}