* {
    font-size: 50px;
    background-color: rgb(34, 34, 34);
    color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

#wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#display-container {
    display: flex;
    justify-content: center;
}

#display {
    width: 400px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#num-buttons {
    height: 300px;
    width: 200px;
}

#operator-buttons {
    height: 300px;
    width: 200px;
}

.buttons {
    font-size: 50px;
    margin: 5px;
    border-radius: 10px;
}